.paginaSolicitacao{
    width: 100vw;
    height: 100vh;
    display: flex;
    border: solid red;
    overflow: hidden;
    .conteudoPrincipal{
        width: 100%;
        height: 100%;
        // border: solid blue;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .headerSolicitacao{
            width: 100%;
            height: 5%;
            display: flex;
            align-items: center;
            // border: solid orange;
            img{
                padding: 0px 0px 0px 15px;
                border: solid brown;
            }
            p{
                padding: 0px 0px 0px 15px;
                font-family: "Inter";
                font-weight: 400;
                font-size: 1rem;
                // border: solid burlywood;
            }
        }

        .containerCentralizado{
            height: 100%;
            // border: solid rebeccapurple;
            .formSolicitacao{
                border: solid black;
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px 15px 0px 15px;
                
                .dadosGerais{
                    display: flex;
                    flex-direction: column;
                    // border: solid salmon;
                    width: 30%;
                    height: 100%;
                    justify-content: space-evenly;

                    .infosGeraisBusca{
                        display: flex;
                        flex-direction: row;
                        // border: solid royalblue;
                        width: 100%;
                        justify-content: space-between;
                        height: 40%;

                        .inputNome{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 30%;
                            // border: solid olive;
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 700;
                            input{
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                height: 3rem;
                                padding: 0.5rem 1rem  0.5rem 1rem;
                                border-radius: 6px;
                                border: 0.8px solid #CBD4E1;
                            }
                        }

                        .inputEmpresa{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 30%;
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 700;
                            // border: solid olive;
                            input{
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                height: 3rem;
                                padding: 0.5rem 1rem  0.5rem 1rem;
                                border-radius: 6px;
                                border: 0.8px solid #CBD4E1;
                            }
                        }

                        .inputPrestContas{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 30%;
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 700;
                            // border: solid olive;
                            input{
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                height: 3rem;
                                padding: 0.5rem 1rem  0.5rem 1rem;
                                border-radius: 6px;
                                border: 0.8px solid #CBD4E1;
                            }
                        }
                    }
                    .descricao{
                        display: flex;
                        flex-direction: column;
                        // border: solid royalblue;
                        width: 100%;
                        height: 40%;
                        justify-content: space-between;
                        font-family: 'Inter';
                        font-size: 1rem;
                        font-weight: 700;
                        
                        input{
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 400;
                            height: 3rem;
                            padding: 0.5rem 1rem  0.5rem 1rem;
                            border-radius: 6px;
                            border: 0.8px solid #CBD4E1;
                        }
                    }
                } 

                .barraCentral {
                    border: solid #CBD4E1 0.25px;
                    border-radius: 100px;
                    height: 85%;
                }

                .informacoesFinanceiras{
                    width: 67%;
                    height: 100%;
                    // border: solid seagreen;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .caixaSeletores{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 40%;
                        justify-content: space-between;
                        font-family: 'Inter';
                        font-size: 1rem;
                        font-weight: 700;
                        // border: solid aquamarine;

                        .data{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 13%;
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 700;
                            input{
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                height: 3rem;
                                padding: 0.5rem 1rem  0.5rem 1rem;
                                border-radius: 6px;
                                border: 0.8px solid #CBD4E1;
                            }
                        }
                        .tipoDeDespesa{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 31%;
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 700;
                            select{
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                height: 3rem;
                                padding: 0.5rem 1rem  0.5rem 1rem;
                                border-radius: 6px;
                                border: 0.8px solid #CBD4E1;
                            }
                        }
                        .centroDeCusto{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 50%;
                            font-family: 'Inter';
                            font-size: 1rem;
                            font-weight: 700;
                            select{
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                height: 3rem;
                                padding: 0.5rem 1rem  0.5rem 1rem;
                                border-radius: 6px;
                                border: 0.8px solid #CBD4E1;
                            }
                        }
                    }

                    .caixaDetalhamentoFinanceiro{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 40%;
                        justify-content: space-between;
                        // border: solid bisque;
                        font-family: 'Inter';
                        font-size: 1rem;
                        font-weight: 700;

                        .ordDivPep{
                            display: flex;
                            flex-direction: row;
                            width: 25%;
                            justify-content: space-between;
                            // border: solid khaki;

                            .ordInt{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 30%;
                                // border: solid fuchsia;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }

                            .labelDiv{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 30%;
                                // border: solid yellowgreen;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }

                            .labelPep{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 30%;
                                // border: solid olive;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }

                        }

                        .moedaDistKm{
                            display: flex;
                            flex-direction: row;
                            width: 22%;
                            justify-content: space-between;
                            // border: solid burlywood;
    
                            .labelMoeda{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 55%;
                                // border: solid maroon;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }

                            .labelDistKm{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 40%;
                                // border: solid mediumorchid;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }
                        }

                        .valorKmFaturadoDespesa{
                            display: flex;
                            flex-direction: row;
                            width: 33%;
                            justify-content: space-between;
                            // border: solid burlywood;

                            .labelValorKm{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 30%;
                                // border: solid mediumpurple;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }

                            .labelValFaturado{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 30%;
                                // border: solid mediumslateblue;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }

                            .labelDespesa{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 30%;
                                // border: solid mediumvioletred;
                                input{
                                    font-family: 'Inter';
                                    font-size: 1rem;
                                    font-weight: 400;
                                    height: 3rem;
                                    padding: 0.5rem 1rem  0.5rem 1rem;
                                    border-radius: 6px;
                                    border: 0.8px solid #CBD4E1;
                                }
                            }
                        }

                        .botoesSalvarDeletar{
                            display: flex;
                            flex-direction: row;
                            width: 17%;
                            align-items: end;
                            // border: solid mediumblue;
                            justify-content: space-evenly;

                            .buttonPlus{
                                border: none;
                                border-radius: 6px;
                                background-color: #001A3D;
                                width: 50%;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                height: 3rem;
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                                align-items: center;
                                p{
                                    color: white;
                                }
                            }

                            .buttonDeletar{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 3rem;
                                border: none;
                                border-radius: 6px;
                                background-color: #A60B2F;
                                width: 25%;
                                font-family: 'Inter';
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }
                    }
                }

            }

            .seccaoTabela{
                padding: 0px 15px 0px 15px;
                border: solid yellow;
                table{
                    border: solid red;
                    width: 100%;
                    padding: 0px;
                    margin: 0px;
                    border-collapse: collapse;
                    tr{
                        padding: 0px;
                        margin: 0px;
                        th{
                            padding: 0px;
                            margin: 0px;
                            border: solid black;
                        }
        
                        td{
                            padding: 0px;
                            margin: 0px;
                            border: solid black
                        }
                    }
                    
                }
            }
            
        }

    }

    
}