header {
    width: 8vw;
    display: flex;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
    article {
        display: flex;
        figure{
            border: solid blue;
        }
    }
}